@charset "utf-8";
/* CSS Document */

body {
	font-family: Amaranth;
	overflow-x: hidden;
}

.the-width {
	width: 1360px;
}

.cwhite {
	color:#FFFFFF;
}

.cblue {
	color:#254F99;
}

.top-logo-section {
	height:187px;
	background-color:#FFFFFF;
}

.logo-image {
	margin-top: 35px;
}

.headline-section {
	font-size: 47px;
	padding-top: 10px;
	padding-left: 30px;
	font-weight: bold;
	height: 65px;
}

.menu-section {
	margin-top: 35px;
	height: 153px;
	background-color: #396CC6;
	-moz-opacity: 0.60;
	opacity: 0.60;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=60);
}

.top-menu-section {
	padding: 0px;
	font-size: 16px;
	font-weight:lighter;
}

.top-menu-section li {
	display:inline;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 2px solid #FFFFFF;
}

.top-menu-section li:first-child {
	text-align: left;
	padding-left: 0px;
	padding-right: 10px;
	border-right: 2px solid #FFFFFF;
}

.top-menu-section li:last-child {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 0px;
}

.top-menu-section a {
	text-decoration:none;
	color:#FFFFFF;
}

.blue-strip {
	position:relative;
	height: 60px;
	background-color:#396CC6;
	z-index: 100;
	padding: 0px;
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.bs-font {
	font-family:Arial;
	font-size:18px;
	padding-top: 15px;
	text-transform:uppercase;
}

.blue-strip-title {
	margin-left: -50px;
	max-width: 400px;
}

.blue-strip-link {
	margin-top: -1px;
	position:relative;
	background-color: #FFFD44;
	height: 60px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 18px;
	cursor:pointer;
}

.blue-strip-link:hover {
	color:#0000FF;
}

.blue-strip-link img {
	padding: 0px 10px 0px 10px;
	margin-top: -5px;
	vertical-align:middle;
}

.blue-strip-readmore {
	margin-top: 20px;
	margin-right: 50px;
}

.blue-strip-readmore:hover {
	color:#FFFD44;
}

.blue-strip-readmore img {
	margin-right: 10px;
	margin-top: -3px;
}


.back-draft {
	height: 593px;
}

.backdraft-readnow {
	height: 153px;
	background-color: rgba(57, 108, 198, .6);
}

.backdraft-readnow p {
	padding-left: 25px;
	padding-top: 15px;
	width: 320px;
	font-size:14px;
	text-align:justify;
}

.backdraft-readnow a {
	color:#0064F9;
}

.circleBase {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.circle-image {
    width: 692px;
    height: 692px;
	position:absolute;
	left: 50%;
	margin-left:100px;
	top: 161px;
	z-index: 95;
}

.circle-text {
    width: 343px;
    height: 343px;
	position:absolute;
	left:50%;
	top: 438px;
	margin-left: -180px;
	background-color:#FF8026;
    border: 16px solid rgba(255, 253, 68, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.circle-image-text {
	font-family: Arial;
	font-weight:lighter;
	font-size:18px;
	text-align: center;
	position: relative;
	top: 85%;
	width: 350px;
	font-style:oblique;
}

.country-list {
	padding-top: 60px;
	text-align:center;
	font-size:34px;
	text-transform:uppercase;	
}

.country-list a {
	padding:10px;
}

.event-top-title {
	text-align:center;
	font-size:20px;
	text-transform:uppercase;
	padding-top:10px;
	width: 180px;
}

.event-top-details {
	text-align:center;
	padding-top: 10px;
	font: 'Arial';
	font-family: Arial;
	font-weight:lighter;
}

.event-bottom-arrow {
	text-align:center;
	padding-top:5px;
}

.blue-strip2 {
	position:relative;
	height: 60px;
	background-color:#396CC6;
	z-index: 100;
}

.lower-blue-strip {
	margin-left: 100px;
}

.yellow-strip {
	position:relative;
	height: 60px;
	background-color:#FFFD44;
}

.grass-bg {
	min-height: 500px;
}
